.todo-list {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    margin: 2em auto;
    padding: 0;
    list-style: none;

    li {
        margin-bottom: 1em;
        width: 100%;
    }
    .view {
        display: flex;
        align-items: center;
        justify-content: space-between;

        word-break: break-word;
    }
}