.todoapp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 50%;
    margin: 0 auto;

    md-card {
        width: 100%;
        background-color: #F5F5F5;
    }
}